.header{
  height: 57px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  background-color: black;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

}

.left-section{
  width: 115px;
  display: flex;
  align-items: center;
}

.hamburguer-menu{
  height: 24px;
  margin-left: 24px;
  margin-right: 20px;
 }
  
.youtube-logo{
    height: 20px;
}

.middle-section{
  flex: 1;
  display: flex;
  align-items: center;

  margin-left: 60px;
  margin-right: 35px;
  max-width: 470px;
}


.search-bar {
  background-color: #121212;
  font-size: 16px;
  flex: 1;

  height: 36px;
  padding-left: 12px;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #282828;
  border-radius: 25px 0px 0px 25px;
}

.search-bar::placeholder{
  font-size: 16px;
}

.search-button,
.voice-search-button,
.upload-button,
.notifications-button,
.youtube-apps-button{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-button{
  background-color: #222222;

  height: 40px;
  width: 66px;


  border-style: solid;
  border-width:  1px 1px 1px 0px;
  border-color: #292929;
  border-radius: 0px 25px 25px 0px;

  margin-left: 1px;
  margin-right: 10px;

  cursor: pointer;
  transition: opcaity 0.15s;
}

.search-button .tooltip,
.voice-search-button .tooltip,
.upload-button .tooltip,
.notifications-button .tooltip,
.youtube-apps-button .tooltip{
  position: absolute;
  background-color: rgba(80, 80, 80, 0.7);
  color: white;
  font-size: 12px;
  padding: 8px 8px 8px 8px;
  border-radius: 4px;
  bottom: -50px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;

  transition: opacity 0.15s;
}

.search-button:hover .tooltip,
.voice-search-button:hover .tooltip,
.upload-button:hover .tooltip,
.notifications-button:hover .tooltip,
.youtube-apps-button:hover .tooltip{
  opacity: 1;
}

.search-button:hover{
  opacity: 80%;
}

.search-button:active {
  opacity: 70%;
}

.search-button-icon{
  height: 25px;
}

.voice-search-button{
  background-color: #222222;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: 20px;

  cursor: pointer;
  transition: opcaity 0.15s,
  background-color 0.15s;

}

.voice-search-button:hover{
  background-color: rgba(255, 255, 255, 0.2);
}


.voice-search-button:active {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 70%;
}

.voice-search-button-icon{
  height: 24px;
}

.right-section{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
}

.upload-button,
.notifications-button,
.youtube-apps-button{
  background-color: transparent;
  height: 40px;
  width: 40px;
  border: none;
  border-radius: none;

  cursor: pointer;
  transition: opcaity 0.15s,
  background-color 0.15s,
  border-radius 0.15s;

}

.upload-button:hover,
.notifications-button:hover,
.youtube-apps-button:hover{
  background-color: #222222;
  border-radius: 20px;
}

.upload-icon{
 height: 24px;
}

.youtube-apps-icon{
  height: 24px;
}

.notifications-icon{
  height: 24px;
}

.notifications-icon-container{
  position: relative;
}

.notifications-count{
  position: absolute;
  background-color: #cc0000;
  border: solid;
  border-color: #290000;
  border-width: 1px;
  color: white;
  font-size: 11px;
  font-family: Roboto, Arial;
  padding: 1px 4px 1px 4px; 
  border-radius: 10px;
  top: 4px;
  right: -4px;
}

.current-user-picture{
  height: 32px;
  border-radius: 16px;
  
}