.thumbnail {
  border-radius: 10px;
  width: 100%;
  transition: border-radius 0.15s;
}

.thumbnail:hover{
  border-radius: 0;
  z-index: 80;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
  cursor: pointer;
}

.video-time{
  font-size: 12px;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.7);
  color: time;
  border-radius: 4px;
  padding: 3px;
  position: absolute;
  bottom: 8px;
  right: 5px;
}


.video-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,
.video-status {
  font-size: 14px;
  color: rgb(170, 170, 170);
}

.video-author{
  margin-bottom: 2px;
  transition: color 0.15s;
  cursor: pointer;
}

.video-author:hover{
  color: white;
}

.video-info a{
  text-decoration:none;
}

.video-author-link .tooltip{
  position: absolute;
  background-color: rgba(80, 80, 80, 0.7);
  color: white;
  font-size: 12px;
  padding: 8px;
  border-radius: 4px;
  opacity: 0;
  pointer-events: none;
  white-space: nowrap;
  z-index: 90;
  transition: opacity 0.15s;
}

.video-author-link:hover .tooltip{
  opacity: 1;
}

.video-info-grid{
  display: grid;
  grid-template-columns: 50px 1fr;
}

.video-grid{
  display: grid;
  column-gap: 16px;
  row-gap: 40px;
}

@media (max-width:750px){
  .video-grid{
    grid-template-columns: 1fr 1fr;
  }
  .video-title{
    font-size: 14px;
    line-height: 18px;
  }
  .video-author, 
  .video-status{
    font-size: 12px;
  }
}

@media (min-width:751px) and (max-width: 999px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
  .video-title{
    font-size: 14px;
    line-height: 20px;
  }
  .video-author, 
  .video-status{
    font-size: 13px;
  }
}

@media (min-width:1000px){
  .video-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .video-title{
    font-size: 16px;
    line-height: 24px;
  }
  .video-author, 
  .video-status{
    font-size: 14px;
  }
}

.profile-picture {
  width: 36px;
  border-radius: 50px;
}

